<h2>New Article</h2>
<form method="post" action="/articles">
  <label for="title">Title: <input name="title" type="text" value=""/></label><br/>
  <label for="content">Content: <input name="content" type="text" value=""/></label><br/>
  <input name="" type="submit" value="Submit"/>
</form>
