<form method="post" action="/articles/<%=@article.id%>" >

<label for="name"> Article title </label>

<input name="title" type="text" value="<%=@article.title%>" >

<label for="name"> Article content</label>

<input name="content" type="text" value="<%=@article.content%>">

<input id="hidden" type="hidden" name="_method" value="PATCH"> 
 <input type ="submit" value="submit">

 </form>

