<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<% @articles.each do |article| %>
<a href="/articles/<%= article.id%>">
  <%= article.title %>
<% end %>
  </body>
</html>
