<form method="post", action= "/articles" >

<label for="name"> Article title </label>

<input name = "title", type= "text", value="<%=@article.title%>" >

<label for="name"> Article content</label>

<input name= "content", type="text", value="<%=@article.content%>">

 <input type ="submit" value="submit">
 </form>







